POSTGRES_USER=nume_utilizator
POSTGRES_PASSWORD=parola_ta_sigura
POSTGRES_DB=nume_baza_de_date

SECRET_KEY=string_secret
ALGORITHM=HS256

TELEGRAM_BOT_TOKEN=bot_token_aici
TELEGRAM_CHAT_ID=chat_id_aici
